﻿@model MonitorShop.Web.Models.Monitor

<h2>Edit one Monitor</h2>

@using (Html.BeginForm("Edit", "Monitors"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m=>m.BrandID)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.BrandID)</div>

    <div class="editor-label">@Html.LabelFor(m=>m.Diagonal)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.Diagonal)</div>

    <div class="editor-label">@Html.LabelFor(m=>m.Ratio)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.Ratio)</div>

    <div class="editor-label">@Html.LabelFor(m=>m.Resolution)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.Resolution)</div>

    <div class="editor-label">@Html.LabelFor(m=>m.RefreshRate)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.RefreshRate)</div>

    <div class="editor-label">@Html.LabelFor(m=>m.Curved)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.Curved)</div>

    <div class="editor-label">@Html.LabelFor(m=>m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.Price)</div>

    <input type="submit" value="SEND" />

}