﻿@model MonitorShop.Web.Models.MonitorViewModel
@{
    ViewBag.Title = "MonitorIndex";
}

<h2>Monitor Index</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("MonitorEdit", Model.EditedMonitor)

@Html.Partial("MonitorList", Model.ListOfMonitors)