﻿@model IEnumerable<MonitorShop.Web.Models.Monitor>

<h2>List of Monitors</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.First().BrandID)</th>
            <th>@Html.DisplayNameFor(m => m.First().ID)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>item.BrandID) </td>
                <td>@Html.DisplayFor(m=>item.ID) </td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID })</td>
                <td>@Html.ActionLink("[SHOW]", "Remove", new { id = item.ID })</td>
                <td>@Html.ActionLink("[SHOW]", "Edit", new { id = item.ID })</td>                
            </tr>
        }
    </table>
}