﻿@model MonitorShop.Web.Models.Monitor
@{
    ViewBag.Title = "MonitorDetails";
}

<h2>MonitorDetails</h2>

<h2>Datasheet of one monitor</h2>

<!-- 
<a href="/Monitors/Index">Back to the List</a>
    -->


<table border="1">
    <tr>
        <td>The ID for the MONITOR</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.BrandID)</td>
        <td>@Html.DisplayFor(m=>m.BrandID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Diagonal)</td>
        <td>@Html.DisplayFor(m=>m.Diagonal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Ratio)</td>
        <td>@Html.DisplayFor(m=>m.Ratio)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Resolution)</td>
        <td>@Html.DisplayFor(m=>m.Resolution)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.RefreshRate)</td>
        <td>@Html.DisplayFor(m=>m.RefreshRate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Curved)</td>
        <td>@Html.DisplayFor(m=>m.Curved)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Price)</td>
        <td>@Html.DisplayFor(m=>m.Price)</td>
    </tr>

</table>